##  Heroes of Pymoli (Fantasy Game)

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
tot = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":str(tot)},index = [0])
player_count

  Total Players
0           576

## Purchasing Analysis (Total)

In [12]:
# Calculations for unique items, average price, purchase count, and revenue
no_unique_items = len(purchase_data["Item ID"].value_counts())
no_of_purchases = len(purchase_data["Purchase ID"].value_counts())
tot_revenue = purchase_data["Price"].sum()
avg_price = round(purchase_data["Price"].mean(),2)

# Create data frame with obtained values
purchasing_analysis = pd.DataFrame({
    "Number of Unique Items":no_unique_items,
    "Average Price":avg_price,
    "Number of Purchases":no_of_purchases,
    "Total Revenue":tot_revenue 
}, index=[0])

# Format with currency style
purchasing_analysis = purchasing_analysis.style.format({"Average Price":"${:.2f}",
                                  "Total Revenue": "${:.2f}"})
purchasing_analysis

## Gender Demographics

In [13]:
# Group purchase_data by Gender
gender_distr = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_distr.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / tot

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Total Count": total_count_gender,"Percentage of Players": percentage_of_players})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

In [6]:
# Count the total purchases by gender 
purchase_count = gender_distr["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_distr["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = gender_distr["Price"].sum()

# Average purchase total by gender divided by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_purchasing_analysis.index.name = "Gender"

# Format with currency style
gender_purchasing_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

In [25]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39,purchase_data["Age"].max()]

# Create the names for the eight bins
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","Over 40"]

# Establish bins for ages
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group = purchase_data.groupby(["Age Ranges"])

# Count the total of screen names "SN" by age group
age_count = age_group.nunique()["SN"]

# Total count by age group 
sum_age_count = age_count.sum()

# Percentage of players by age group
percent_of_players = age_count / sum_age_count

# Creating the DataFrame
age_demographics = pd.DataFrame({"Total Count": age_count, 
                                 "Percentage of Players": percent_of_players})
age_demographics.head().style.format({"Percentage of Players":"{:,.2%}"})
age_demographics.index.name = None
age_demographics

          Total Count  Percentage of Players
Under 10           17               0.029514
10-14              22               0.038194
15-19             107               0.185764
20-24             258               0.447917
25-29              77               0.133681
30-34              52               0.090278
35-39              31               0.053819
Over 40            12               0.020833

## Purchasing Analysis (Age)

In [26]:
# Count the total purchases by age 
new_age_purchase_count = age_group["Purchase ID"].count()

# Average purchase prices by age
new_avg_purchase_price = age_group["Price"].mean()

# Average purchase total by age 
new_avg_purchase_total = age_group["Price"].sum()

# Average purchase total by age divided by purchase count by unique age group
new_avg_purchase_per_person = new_avg_purchase_total/age_count

# Create data frame with obtained values 
age_purchasis_analysis = pd.DataFrame({"Purchase Count": new_age_purchase_count, 
                                        "Average Purchase Price": new_avg_purchase_price,
                                        "Average Purchase Value":new_avg_purchase_total,
                                        "Avg Purchase Total per Person": new_avg_purchase_per_person})

# Provide index in top left as "Age Ranges"
age_purchasis_analysis.index.name = "Age Ranges"

# Format with currency style
age_purchasis_analysis = age_purchasis_analysis.head().style.format({
                                  "Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})
age_purchasis_analysis

## Top Spenders

In [27]:
# Group purchase_data by Serial Number
sn_distr = purchase_data.groupby("SN")

# Count the total purchases by gender 
sn_purchase_count = sn_distr["Purchase ID"].count()

# Average purchase prices by SN
sn_avg_purchase_price = sn_distr["Price"].mean()

# Average purchase total by SN divided by purchase count by unique shoppers
total_purchase_per_sn = sn_purchase_count * sn_avg_purchase_price

# Create data frame with obtained values 
top_spenders = pd.DataFrame({"Purchase Count": sn_purchase_count, 
                             "Average Purchase Price": sn_avg_purchase_price,
                             "Total Purchase Value":total_purchase_per_sn})

# Provide index in top left as "Gender"
top_spenders.index.name = "SN"

# Sorting in descending order and formatting with currency style
top_spenders = top_spenders.sort_values("Purchase Count",ascending=False).head().style.format(
                            {"Total Purchase Value":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}"}
                            )
top_spenders

## Most Popular Items

In [28]:
# Retrieve the Item ID, Item Name, and Item Price columns
new_df = purchase_data[["Item ID","Item Name","Price"]]
new_df = new_df.rename(columns={"Price":"Item Price"})

# Group new data frame by Item ID and Item Name
new_groupby_df = new_df.groupby(["Item ID","Item Name"])

# Count the total purchases by Item ID and Item Name 
new_purchase_count = new_groupby_df["Item Name"].count()

# Average purchase prices by Item ID and Item Name 
new_avg_purchase_price = new_groupby_df["Item Price"].mean()

# Average purchase total divided by purchase count grouped by Item ID and Item Name 
total_purchase_per_item = new_purchase_count * new_avg_purchase_price

# Create data frame with obtained values 
popular_items = pd.DataFrame({"Purchase Count": new_purchase_count, 
                             "Average Purchase Price": new_avg_purchase_price,
                             "Total Purchase Value":total_purchase_per_item})

# Provide index in top left as "Item ID" and "Item Name"
popular_items.index.name = ["Item ID","Item Name"]

# Sorting in descending order and formatting with currency style
popular_items.sort_values("Purchase Count",ascending=False).head().style.format({"Total Purchase Value":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}"})

## Most Profitable Items

In [21]:
most_profitable = popular_items.sort_values("Total Purchase Value",ascending=False).head().style.format({"Total Purchase Value":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}"})
most_profitable